* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#grillaindex {
  display: grid;
  grid-template-areas: "header" "index-hero" "index-conectado" "index-vivo" "index-publicaciones" "index-podcast" "footer";
  grid-template-rows: 80px 100vh 350px 1.3fr 1.1fr 1.3fr;
  grid-template-columns: 100%;
}
@media (max-width: 768px) {
  #grillaindex {
    grid-template-areas: "index-hero" "index-conectado" "index-vivo" "index-publicaciones" "index-podcast" "footer";
    grid-template-rows: 100vh 430px 0.6fr 1.1fr 0.6fr;
  }
}

#grillabio {
  display: grid;
  grid-template-areas: "header" "bio-hola" "bio-images" "footer";
  grid-template-rows: 80px 1fr 100vh;
  grid-template-columns: 100%;
}
@media (max-width: 768px) {
  #grillabio {
    grid-template-areas: "bio-hola" "bio-images" "footer";
    grid-template-rows: 1fr 100vh;
    grid-template-columns: 100%;
  }
}

#grillablog {
  display: grid;
  grid-template-areas: "header" "blog-header" "blog-posts" "footer";
  grid-template-rows: 80px 500px;
  grid-template-columns: 100%;
}
@media (max-width: 768px) {
  #grillablog {
    grid-template-areas: "blog-header" "blog-posts" "footer";
    grid-template-rows: 500px;
    grid-template-columns: 100%;
  }
}

#grillatienda {
  display: grid;
  grid-template-areas: "header" "tienda-hero" "tienda-productos" "tienda-libros" "footer";
  grid-template-rows: 80px 800px;
  grid-template-columns: 100%;
}
@media (max-width: 768px) {
  #grillatienda {
    grid-template-areas: "tienda-hero" "tienda-productos" "tienda-libros" "footer";
    grid-template-rows: 800px 1700px 1000px;
  }
}

#grillaempieza {
  display: grid;
  grid-template-areas: "header" "empieza" "footer";
  grid-template-rows: 80px 800px;
  grid-template-columns: 100%;
}
@media (max-width: 768px) {
  #grillaempieza {
    grid-template-areas: "empieza" "footer";
    grid-template-rows: 1400px;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff8ee;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

#grillabio > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#grillablog > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#grillatienda > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#grillaempieza > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
header ul a {
  text-decoration: none;
  font-family: "Lora", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #756663;
  margin-left: 25px;
  /*                         a::after{
                              content:"a" ;
                              display: block;
                              width: 3px;
                              height: 1px;
                              background-color: #ada9a9;
                              transition: width 1s, height 1s;
                          }
                          a:hover ::after{
                              width: 10px;
                              height: 10px;
                          }
   */
}
@media (max-width: 768px) {
  header {
    display: none;
  }
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  display: flex;
  justify-content: center;
  background-color: #424242;
  padding: 2%;
  grid-area: footer;
}

#grillabio > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#grillablog > footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#grillatienda > footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

#grillaempieza > footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
footer ul li a {
  text-decoration: none;
  font-family: "Lora", serif;
  font-size: 16px;
  color: #756663;
  margin-left: 80px;
}
@media (max-width: 768px) {
  footer ul li a {
    margin-left: 0px;
  }
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  display: flex;
  justify-content: center;
  background-color: #424242;
  padding: 2%;
  grid-area: footer;
}

#grillabio > .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#grillablog > .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

#grillatienda > .footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

#grillaempieza > .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer div {
    padding-top: 10px;
    padding-left: 10px;
  }
}

#bio-hola {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bio-hola;
  background-color: #2e3133;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  #bio-hola {
    flex-direction: column;
  }
}
#bio-hola div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .bio__hola_img-phone {
    width: 95%;
  }
}

.texto-bio {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: grey;
  font-size: 17px;
  line-height: 1.8;
}

#bio-images {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bio-images;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-image: url("../img/img-a.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left top;
}
@media (max-width: 768px) {
  #bio-images {
    background-size: contain;
    align-items: flex-start;
  }
}
#bio-images div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  margin-right: 13%;
}
@media (max-width: 768px) {
  #bio-images div {
    width: 100%;
    margin-top: 70%;
  }
}

#blog-header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: blog-header;
  background-image: url("../img/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blog-header .blog-header {
  margin-left: 20%;
  margin-right: 5%;
}
@media (max-width: 768px) {
  #blog-header .blog-header {
    margin: 0;
  }
}
#blog-header h5 {
  color: white;
}

#blog-posts {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: blog-posts;
  background-color: #fcf4ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
#blog-posts article {
  padding: 20px;
}
@media (min-width: 769px) {
  #blog-posts article {
    width: 400px;
  }
}
#blog-posts a {
  text-decoration: none;
}

.blog-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  flex-direction: row;
}
@media (max-width: 768px) {
  .blog-posts {
    flex-direction: column;
  }
}

.blog-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

section#empieza {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: empieza;
  background-color: #fff8ee;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  section#empieza {
    flex-direction: column;
  }
}

.empieza__form {
  width: 60%;
}
@media (max-width: 768px) {
  .empieza__form {
    width: 100%;
  }
}

.empieza__form--col {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .empieza__form--col {
    padding: 10px;
  }
}

.empieza__form--row {
  display: flex;
}
@media (max-width: 768px) {
  .empieza__form--row {
    flex-direction: column;
  }
}

.empieza__img {
  display: flex;
  justify-content: center;
  width: 40%;
}
@media (max-width: 768px) {
  .empieza__img {
    width: 100%;
  }
}

/* .empieza__form--h4 {
    padding: 20px 0 10px 0;
} */
.empieza__form--top-margin {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .empieza__img-phone {
    width: 80%;
    margin: 20px;
  }
}

#index-hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: index-hero;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/relax.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
#index-hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.hero {
  color: white;
  font-size: 90px;
  font-family: "Lora", serif;
}
@media (max-width: 768px) {
  .hero {
    font-size: 68px;
  }
}

#index-conectado {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: index-conectado;
  display: flex;
  flex-direction: column;
  background-image: url("../img/conectado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  justify-content: center;
}

.index-conectado {
  width: 50%;
  padding-left: 100px;
}
@media (max-width: 768px) {
  .index-conectado {
    width: auto;
    padding-left: 0px;
  }
}

#index-publicaciones {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: index-publicaciones;
  background-color: #fff8ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}
#index-publicaciones div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  flex-direction: row;
}
@media (max-width: 768px) {
  #index-publicaciones div {
    flex-direction: column;
  }
}
#index-publicaciones article {
  width: 400px;
  padding: 20px;
}
#index-publicaciones article a {
  text-decoration: none;
}

#index-podcast {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: index-podcast;
  background-color: #ebf6f8;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  #index-podcast {
    flex-direction: column;
  }
}
#index-podcast div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 768px) {
  #index-podcast div {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .index__podcast_img-phone {
    width: 95%;
  }
}

#index-vivo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: index-vivo;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  #index-vivo {
    flex-direction: column;
  }
}
#index-vivo .index-vivo-texto {
  width: 40%;
}
@media (max-width: 768px) {
  #index-vivo .index-vivo-texto {
    width: auto;
  }
}

.vivo-laptop {
  background-image: url("../img/vivo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 814px;
  height: 468px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .vivo-laptop {
    padding: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-size: contain;
    height: 400px;
  }
}

.vivo-screenshot {
  width: 595px;
}
@media (max-width: 768px) {
  .vivo-screenshot {
    width: 80%;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .margin_media {
    padding: 10px;
  }
}

#tienda-hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tienda-hero;
  background-color: #ebf6f8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 768px) {
  #tienda-hero {
    flex-direction: column;
    height: 1400px;
  }
}
#tienda-hero .tienda-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
#tienda-hero .tienda-hero h3 {
  text-align: center;
}
@media (max-width: 768px) {
  #tienda-hero .tienda-hero {
    width: 100%;
  }
  #tienda-hero .tienda-hero h3 {
    text-align: left;
  }
}

#tienda-productos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tienda-productos;
  background-color: #fcf4ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#tienda-productos .tienda-productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #tienda-productos .tienda-productos {
    flex-direction: column;
  }
}

#tienda-productos article {
  width: 400px;
  padding: 20px;
}
#tienda-productos article a {
  text-decoration: none;
}

#tienda-libros {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: tienda-libros;
  background-color: #ebf6f8;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  #grillabio > footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #grillablog > footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #grillatienda > footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  #grillaempieza > footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  #grillabio > .footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #grillablog > .footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #grillatienda > .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  #grillaempieza > .footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #bio-hola {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #bio-images {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #blog-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #blog-posts {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  section#empieza {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #index-hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #index-conectado {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #index-publicaciones {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  #index-podcast {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #index-vivo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #tienda-hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #tienda-productos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #tienda-libros {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (max-width: 768px) {
  #tienda-libros {
    flex-direction: column;
  }
}

/*
.tienda-libros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    width: 40%;
}*/
.tienda-libros-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 45%;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .tienda-libros-img {
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .tienda-libros-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .tienda__hero_img-phone {
    width: 50%;
  }
}

/*  // Small devices
@mixin phone {
   @media (max-width: 768px) {
       @content;
   }
}
 // tablets
 @mixin tablet {
   @media (min-width: 769px) and (max-width: 1199px) {
       @content;
   }
} */
/*  // Media Query
$phone: max-width:768px;
$tablet: min-width: 769px,max-width: 1199px;
 */
.button {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin-top: 20px;
  font-family: "Lora", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #df9862;
  background-color: none;
  border-color: #df9862;
  transition: background-color 1s, border-color 0.8s;
}
@media (max-width: 768px) {
  .button {
    font-size: 12px;
    margin-top: 5px;
  }
}

.button:hover {
  background-color: white;
  border-color: white;
  text-decoration: none;
  color: #df9862;
}

.button-claro {
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin-top: 20px;
  font-family: "Lora", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background-color: none;
  border-color: white;
  transition: background-color 1s, border-color 0.8s;
}

.button-claro:hover {
  background-color: white;
  border-color: white;
  color: #df9862;
  text-decoration: none;
}

div.fijo {
  background-color: #86dbc3;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  div.fijo {
    display: none;
  }
}

div.fijo a {
  text-decoration: none;
  color: white;
  font-family: "Lora", serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 14px 0 14px;
}

input, textarea, select {
  padding: 10px;
  display: inline-block;
  color: grey;
  font-size: 17px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

label {
  color: grey;
  font-size: 17px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 0rem;
}

textarea {
  height: 100px;
  width: 605px;
}
@media (max-width: 768px) {
  textarea {
    height: 150px;
    width: 95%;
    margin: 10px;
  }
}

.nolink {
  text-decoration: none;
}

a:hover {
  color: grey;
}

h1 {
  color: #df9862;
  font-size: 80px;
  font-weight: normal;
  font-family: "Lora", serif;
}
@media (max-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 1;
  }
}

.h1-claro {
  color: white;
  font-size: 80px;
  font-weight: normal;
  font-family: "Lora", serif;
}
@media (max-width: 768px) {
  .h1-claro {
    font-size: 64px;
    line-height: 1;
  }
}

h2 {
  color: #df9862;
  font-size: 64px;
  font-family: "Lora", serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  h2 {
    font-size: 52px;
  }
}

.h2-claro {
  color: #ffffff;
  font-size: 64px;
  font-family: "Lora", serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  .h2-claro {
    font-size: 52px;
  }
}

h3 {
  color: #df9862;
  font-size: 50px;
  font-family: "Lora", serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  h3 {
    font-size: 36px;
  }
}

.h3-claro {
  color: #ffffff;
  font-size: 50px;
  font-family: "Lora", serif;
  font-weight: normal;
}
@media (max-width: 768px) {
  .h3-claro {
    font-size: 36px;
  }
}

h4 {
  color: grey;
  font-size: 24px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 0 10px 0;
}
@media (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  color: grey;
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
@media (max-width: 768px) {
  h5 {
    font-size: 12px;
  }
}

.h5-claro {
  color: white;
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
@media (max-width: 768px) {
  .h5-claro {
    font-size: 12px;
  }
}

p {
  font-size: 17px;
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media (max-width: 768px) {
  p {
    font-size: 13px;
  }
}

.texto-nota {
  color: grey;
  font-size: 14px;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.centrado {
  text-align: center;
}

.texto-claro {
  color: white;
  list-style-type: circle;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.texto-box {
  padding: 30px;
  background-color: white;
  width: 45%;
}
@media (max-width: 768px) {
  .texto-box {
    width: 100%;
  }
}

ul .a {
  list-style-type: circle;
}