footer{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding: 2%;
    grid-area: footer;
        ul li a{
            text-decoration: none;
            font-family: 'Lora', serif;
            font-size: 16px;
            color: #756663;
            margin-left: 80px;
        }
}
/*  #footer1{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding: 2%;
    grid-area: footer1;
}
 */
 .footer{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding: 2%;
    grid-area: footer;
}

/* #footer-menu{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding: 2%;
    grid-area: footer-menu;
}
#footer-rrss{
    display: flex;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding: 2%;
    grid-area: footer-rrss;
}
 */
