#grillaindex {
    display: grid;
    grid-template-areas: "header"
                        "index-hero"
                        "index-conectado"
                        "index-vivo"
                        "index-publicaciones"
                        "index-podcast"
                        "footer";
    grid-template-rows: 80px 100vh 350px 1.3fr 1.1fr 1.3fr ; 
    grid-template-columns: 100%;
    @media (max-width:768px) {
        grid-template-areas:     "index-hero"
                                "index-conectado"
                                "index-vivo"
                                "index-publicaciones"
                                "index-podcast"
                                "footer";
        grid-template-rows: 100vh 430px 0.6fr 1.1fr 0.6fr ; 
    }
    }

 #grillabio {
    display: grid;
    grid-template-areas: "header"
                        "bio-hola"
                        "bio-images"
                        "footer";
    grid-template-rows: 80px 1fr 100vh; 
    grid-template-columns: 100%;
    @media (max-width:768px) {
        grid-template-areas: 
                        "bio-hola"
                        "bio-images"
                        "footer";
        grid-template-rows:  1fr 100vh; 
        grid-template-columns: 100%;
    }
}
#grillablog {
    display: grid;
    grid-template-areas: "header"
                         "blog-header"
                         "blog-posts"
                        "footer";
    grid-template-rows: 80px 500px  ; 
    grid-template-columns: 100%;
    @media (max-width:768px) {
        grid-template-areas: 
                         "blog-header"
                         "blog-posts"
                        "footer";
        grid-template-rows: 500px  ; 
        grid-template-columns:  100%  ; 
    }
}
#grillatienda {
    display: grid;
    grid-template-areas: "header"
                        "tienda-hero"
                        "tienda-productos"
                        "tienda-libros"
                        "footer";
    grid-template-rows: 80px 800px  ; 
    grid-template-columns: 100%;
    @media (max-width:768px) {
        grid-template-areas: 
                        "tienda-hero"
                        "tienda-productos"
                        "tienda-libros"
                        "footer";
        grid-template-rows:  800px 1700px 1000px  ; 
    }
}
#grillaempieza {
    display: grid;
    grid-template-areas: "header"
                        "empieza"
                        "footer";
    grid-template-rows: 80px 800px  ; 
    grid-template-columns: 100%;
    @media (max-width:768px) {
        grid-template-areas:
                        "empieza"
                        "footer";
        grid-template-rows: 1400px  ; 
    }
}

