#grillaindex {
    display: grid;
    grid-template-areas: "header"
                        "index-hero"
                        "index-conectado"
                        "index-vivo"
                        "publicaciones"
                        "index-podcast"
                        "footer";
    grid-template-rows: 80px 100vh 350px 1fr 1.1fr 1fr ; 
    grid-template-columns: 100%;
    @media (max-width: 1199px) {
        grid-template-rows: 60px 100vh 430px 0.4fr 1.1fr 0.45fr; 
    }
    }
 #grillabio {
    display: grid;
    grid-template-areas: "header"
                        "bio-hola"
                        "bio-images"
                        "footer";
    grid-template-rows: 80px 1fr 800px; 
    grid-template-columns: 100%;
    @media (max-width: 767px) {
        grid-template-rows:  60px 1fr 700px ; 
    }
    @media (min-width: 768px) and (max-width: 1199px){
        grid-template-rows:  60px 1fr 800px ; 
    }
}
#grillablog {
    display: grid;
    grid-template-areas: "header"
                         "blog-header"
                         "blog-posts"
                        "footer";
    grid-template-rows: 80px 500px ; 
    grid-template-columns: 100%;
    @media (max-width: 1199px) {
        grid-template-rows: 60px 400px  ; 
    }
}
#grillatienda {
    display: grid;
    grid-template-areas: "header"
                        "tienda-hero"
                        "publicaciones"
                        "tienda-libros"
                        "footer";
    grid-template-rows: 80px 800px 700px 800px ; 
    grid-template-columns: 100%;
    @media (max-width: 767px) {
        grid-template-rows: 60px 900px 1600px 950px;
    }
    @media (min-width: 768px) and (max-width: 1199px){
        grid-template-rows: 60px 1050px 2600px 1500px;
    }
}
#grillaempieza {
    display: grid;
    grid-template-areas: "header"
                        "empieza"
                        "footer";
    grid-template-rows: 80px 800px  ; 
    grid-template-columns: 100%;
    @media (max-width: 767px) {
        grid-template-rows: 60px 1400px ; 
    }
    @media (min-width: 768px) and (max-width: 1199px){
        grid-template-rows: 60px 1450px ; 
    }
}

