@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-self: $justify;
 }
 @mixin fuente($color, $size, $weight, $family) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
 }
/*  // Small devices
@mixin phone {
   @media (max-width: 768px) {
       @content;
   }
}
 // tablets
 @mixin tablet {
   @media (min-width: 769px) and (max-width: 1199px) {
       @content;
   }
} */