$fuente-titulo: 'Lora', serif;
$fuente-texto: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$color-gris: grey;
$color-celeste: #ebf6f8;
$color-rosa: #fff8ee;
$color-naranja: #df9862;
$color-verde: #86dbc3;
/*  // Media Query
$phone: max-width:768px;
$tablet: min-width: 769px,max-width: 1199px;
 */