input, textarea,select   {
    padding: 10px;
    display: inline-block;
    @include fuente ($color-gris, 17px, normal, $fuente-texto);
    @media (min-width: 768px) and (max-width: 1199px){
        margin: 5px;
    }
}
label {
    @include fuente ($color-gris, 17px, normal, $fuente-texto);
    margin-bottom: 0rem;
}
textarea {
    height: 100px;
    width: 630px;
    @media (max-width:767px) {
        height: 150px;
        width: 95%;
        margin: 10px;
    }
    @media (min-width: 768px) and (max-width: 1199px){
        width: 100%;
        margin: 0;
    }
}

