h1 {
    color: #df9862;
    font-size: 80px;
    font-weight: normal;
    font-family: 'Lora', serif;
    @media (max-width:767px) {
        font-size: 64px;
        line-height:1;
    }
}
.h1-claro {
    color: white;
    font-size: 80px;
     font-weight: normal;
    font-family: 'Lora', serif;
    @media (max-width:767px) {
        font-size: 64px;
        line-height:1;
    }
}
h2 {
    color: #df9862;
    font-size: 64px;
    font-family: 'Lora', serif;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 52px;
    }
}
.h2-claro  {
    color: #ffffff;
    font-size: 64px;
    font-family: 'Lora', serif;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 52px;
    }
}
h3 {
    color: #df9862;
    font-size: 50px;
    font-family: 'Lora', serif;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 36px;
    }
}
.h3-claro {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Lora', serif;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 36px;
    }
}
h4 {
    @include fuente ($color-gris, 24px, normal, $fuente-texto);
    padding: 10px 0 10px 0;
    @media (max-width:767px) {
        font-size: 18px;
    }
}
h5 {
    color: grey;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 15px;
    }
}
.h5-claro {
    color: white;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    @media (max-width:767px) {
        font-size: 15px;
    }
}
p {
    font-size: 17px;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    @media (max-width:767px) {
        font-size: 15px;
    }
}
.texto-nota{
    @include fuente ($color-gris, 14px, normal, $fuente-texto);
    @media (min-width: 768px) and (max-width: 1199px){
        @include fuente ($color-gris, 16px, normal, $fuente-texto);
    }
}
.centrado {
text-align: center;
}
.texto-claro {
    color: white;
    list-style-type: circle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto-box {
    padding: 30px;
    background-color: white;
    width: 45%;
    @media (max-width:768px) {
        width: 100%;
    }
}
