#bio-hola {
    grid-area: bio-hola;
    background-color: #2e3133;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 1199px) {
        flex-direction: column;
        background-color: white;
}
    div {
        display: flex;
        flex-direction: column;
    }
}
.bio__hola_img-phone {
    @media (max-width: 767px) {
        width: 95%;
    }
    @media (max-width: 1199px) {
        width: 100%;
    }
}
/* .bio__hola_firma {
    width: 300px;
    :hover path {
        animation: animate-hola 2s linear forwards
    }
    @keyframes animate-hola
    {
        0%
        {
            stroke-dashoffset: 0;
        }
        40%
        {
            stroke-dashoffset: 700;
        }
        80%
        {
            stroke-dashoffset: 1400;
        }
    }
     path {
        fill: transparent;
        stroke-width: 1;
        stroke: #31e8ff;
        stroke-dasharray: 700;
        stroke-dashoffset: 0;
        
        }
}
 */
.texto-bio {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    font-size: 17px;
    line-height: 1.8;
}
#bio-images {
    grid-area: bio-images;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-size: initial;
    background-repeat: no-repeat;
    background-position: left top;
    @media (max-width: 1199px) {
        background-size: contain;
        align-items: flex-start;
    }
}
.bio_images_contenedor {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 100px;
                @media (max-width: 1199px) {
                    width: 100%;
                    flex-direction: column;
                    margin: 0;
}
.bio_images_div {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                margin: 0px;
}
.bio_images_foto {
    @media (max-width: 767px) {
        width: 400px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        width: 600px;
    }
}
}