#blog-header {
    grid-area: blog-header;
    background-image: url("../img/blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    justify-content: center;
    align-items: center;
    .blog-header {
        margin-left: 20%;
        margin-right: 5%;
        @media (max-width:768px) {
        margin: 0;
        }
        }
    h5 {
        color: white;
    }
}

#blog-posts {
grid-area: blog-posts;
background-color: #fcf4ed;
display: flex;
flex-direction: column;
align-items: center;
padding: 60px;
    article {
        padding: 20px;
        @media (min-width: 769px) {
        width: 400px;
        }
    }
            a{
            text-decoration: none;
            }
    }
.blog-posts {
display: flex;
justify-content: center;
align-items: center;
padding: 10px 0 10px;
flex-direction: row;
@media (max-width:768px) {
    flex-direction: column;
}
}
.blog-mas {
display: flex;
justify-content: center;
align-items: center;
padding: 50px;
flex-direction: column;
}