#index-hero {
    grid-area: index-hero;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/relax.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
        }
}

.hero {
    color: white;
    font-size: 90px;
    font-family: 'Lora', serif;
    @media (max-width:768px) {
        font-size: 68px;
        }
}   
#index-conectado {
    grid-area: index-conectado;
    display: flex;
    flex-direction: column;
    background-image: url("../img/conectado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    justify-content: center;
}
.index-conectado {
    width: 50%;
    padding-left: 100px;
    @media (max-width:768px) {
        width: auto;
        padding-left: 0px;
    }
}
#index-publicaciones {
    grid-area: index-publicaciones;
    background-color: #fff8ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0 10px;
            flex-direction: row;
            @media (max-width:768px) {
                flex-direction: column;
            }
        }
        article {
            width: 400px;
            padding: 20px;
            a{
                text-decoration: none;
            }
        }
}
#index-podcast {
    grid-area: index-podcast;
    background-color: #ebf6f8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    @media (max-width:768px) {
        flex-direction: column;
    }
    div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media (max-width:768px) {
                align-items: center;
            }
    }
}
.index__podcast_img-phone {
    @media (max-width:768px) {
        width: 95%;
    }
}
#index-vivo {
    grid-area: index-vivo;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width:768px) {
        flex-direction: column;
    }
    .index-vivo-texto {
        width: 40%;
        @media (max-width:768px) {
            width: auto;
        }
      }
}
.vivo-laptop {
background-image: url("../img/vivo.png");
background-size: cover;
background-repeat: no-repeat;
background-position:  center center;
width: 814px;
height: 468px;
display: flex;
align-items: center;
justify-content: center;
@media (max-width:768px) {
    padding: 5px;
    width: fit-content;
    background-size: contain;
    height: 400px;
}
}
.vivo-screenshot {
    width: 595px;
    @media (max-width:768px) {
        width: 80%;
    }
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.margin_media {
    @media (max-width:768px) {
        padding: 10px;
    }
}